<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="static/css/estilo_base.css">
    {% block extra_css %}
    <!-- Aquí se insertarán los enlaces a archivos CSS adicionales -->
     {% endblock %}
    <title>Mi Sitio Web</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/about">Acerca de</a></li>
            <li><a href="/contact">Contacto</a></li>
        </ul>
    </nav>
    {% block header %}
    <header>
        <h1>Bienvenido a mi sitio web</h1>
    </header>
    {% endblock %}
    <div class="content">
        {% block content %}
        <!-- Aquí se insertará el contenido de las otras plantillas -->
        <p>Esta es la página inicial</p>
        {% endblock %}
    </div>
    {% block footer %}
    <footer>
        <ul>
    <li>
        <a href="https://www.facebook.com/miempresa" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-facebook-f"></i> Facebook
        </a>
    </li>
    <li>
        <a href="https://www.twitter.com/miempresa" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-twitter"></i> Twitter
        </a>
    </li>
    <li>
        <a href="https://www.instagram.com/miempresa" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-instagram"></i> Instagram
        </a>
    </li>
    <li>
        <a href="https://www.linkedin.com/company/miempresa" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-linkedin-in"></i> LinkedIn
        </a>
    </li>
</ul>
        <p>&copy; 2023 Mi Sitio Web</p>
    </footer>
    {% endblock %}
</body>
</html>