<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>¡Éxito!</h1>
    <p>La operación se ha realizado correctamente.</p>

    <p>Detalles de la lectura:</p>
    <ul>
        <li>Usuario ID: {{ lectura.user }}</li>
        <li>Material ID: {{ lectura.material }}</li>
        <li>Fecha de inicio: {{ lectura.inicio }}</li>
        <li>Fecha de fin: {{ lectura.fin }}</li>
    </ul>
    <p>Gracias por utilizar nuestro sistema.</p>
    <a href="/">Volver al inicio</a>
</body>
</html>