<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=ç, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/nueva_lectura">Nueva Lectura</a></li>
            <li><a href="/usuarios">Usuarios</a></li>
            <li><a href="/materiales">Materiales</a></li>
            <li><a href="/prestamos">Prestamos</a></li>
        </ul>        
    </nav>
    <h1>Bienvenido a la Biblioteca</h1>
    <p>Seleccione una opción del menú para comenzar.</p>
    <a href="/nueva_lectura">Registrar Nueva Lectura</a>
    <a href="/nuevo_usuario">Agregar un usuario nuevo</a>
    <a href="/nuevo_prestamo">Registrar un nuevo préstamo</a>
    <a href="/nuevo_material">Agregar un material nuevo</a>
</body>
</html>